{% extends 'home/bootstrap.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <head>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" title="default" />
    <script src="{% static 'home/scripts.js' %}"></script>
    </head>
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% include "home/sidebar/sidebar.html" %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}