{% extends 'home/base.html' %}
{% load bootstrap3 %}

{% load crispy_forms_tags %}
{% crispy form %}

{% block title %}{% endblock %}

{% block content %}
    <h2>
    Campaign "{{ data.title }}"
    </h2>
    <div id="campaign_header">
        <div id="funding_status">
            <div class="header_title header_campaigns">
                Funding duration:
            </div>
            <div class="header_body body_campaigns">
                {{ data.endDate }}
            </div>
        </div>
        <div id="target_amount">
            <div class="header_title header_pledges">
                Target amount:
            </div>
            <div class="header_body header_pledges">
                {{ data.targetAmount }} &euro;
            </div>
        </div>
    </div>
    <form action="" method="POST">
        {% crispy form %}
        <input type="submit" value="End Campaign" class="btn btn-primary btn-lg" name="campaign_form">
        <input type="button" value="Cancel" class="btn btn-primary btn-lg" name="cancel_form" onclick="window.location = '/home/campaigns/';">
    </form>
{% endblock %}
