{% extends 'home/base.html' %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}

  <table id="campaign_table" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
              <th>#</th>
              <th>Campaign Title</th>
              <th>category</th>
              <th>progress</th>
              <th>contributors</th>
              <th>status</th>
              <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>For dem kidz</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td><a href="{% url 'campaign_details' 34 %}">Edit</a></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>For dem kidz</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>For dem kidz</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Asddas</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Asddas</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>For dem kidz</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Asddas</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Asddas</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>For dem kidz</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Asddas</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Asddas</td>
              <td>Charity</td>
              <td>33%</td>
              <td>4</td>
              <td>ACTIVE</td>
              <td>Edit Delete</td>
            </tr>
        </tbody>
    </table>

{% endblock %}