{% extends 'home/base.html' %}
{% load bootstrap3 %}

{% load crispy_forms_tags %}
{% crispy form %}

{% block title %}{% endblock %}

{% block content %}
    <h2>
    Campaign proposal "{{ data.title }}"
    </h2>
    <div class="details_header">
        <div class="details_header_div">
            <div class="details_title details_header_left">
                Funding duration:
            </div>
            <div class="details_body details_body_left">
                {{ data.duration }} days
            </div>
        </div>
        <div class="details_header_div details_header_right">
            <div class="details_title">
                Target amount:
            </div>
            <div class="details_body details_body_right">
                {{ data.targetAmount }} &euro;
            </div>
        </div>
    </div>

    <form action="" method="POST">
        {% crispy form %}
        {% if data.proposalStatus != 'Approved' %}
            <input type="submit" value="Submit" class="btn btn-primary btn-lg" name="campaign_form">
            <input type="button" value="Cancel" class="btn btn-primary btn-lg" name="cancel_form" onclick="window.location = '/home/campaign_proposals/';">
        {% elif data.proposalStatus == 'Approved' %}
            <input type="submit" value="Start Campaign" class="btn btn-primary btn-lg" name="start_campaign">
            <input type="submit" value="Cancel Campaign" class="btn btn-primary btn-lg" name="cancel_campaign">
            <input type="button" value="Cancel" class="btn btn-primary btn-lg" name="cancel_form" onclick="window.location = '/home/campaign_proposals/';">
        {% endif %}
    </form>
{% endblock %}