{% extends 'home/base.html' %}
{% load bootstrap3 %}

{% load crispy_forms_tags %}
{% crispy form %}

{% block title %}{% endblock %}

{% block content %}
    <h2>
    Campaign "{{ data.title }}"
    </h2>
    <div class="details_header">
        <div class="details_div">
            <div class="details_header_left">
                End date:
            </div>
            <div class="details_body_left">
                {{ data.endDate }}
            </div>
        </div>
        <div class="details_div">
            <div class="details_header_left">
                Target amount:
            </div>
            <div class="details_body_left">
                {{ data.targetAmount }} &euro;
            </div>
        </div>
    </div>

    <form action="" method="POST">
        {% crispy form %}
        <input type="submit" value="End Campaign" class="btn btn-primary btn-lg" name="campaign_form">
        <input type="button" value="Cancel" class="btn btn-primary btn-lg" name="cancel_form" onclick="window.location = '/home/campaigns/';">
    </form>

{% endblock %}
