{% extends 'home/bootstrap.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block bootstrap3_content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" title="default" />
        <script src="{% static 'home/scripts.js' %}"></script>
    </head>
    <div class="container-fluid login-page">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        <div class="col-md-7 login-left">
        </div> 
        <div class="col-md-5">
            <div class="login-form">
                <form class="form-signin">
                    <h1 class="form-signin-heading text-muted">Admin Page</h1>
                    <input type="text" class="form-control" placeholder="Username" required="" autofocus="">
                    <input type="password" class="form-control" placeholder="Password" required="">
                </form>
                <div class="out-of-form">
                    <a href="{% url 'home:index' %}">
                    <button class="btn btn-lg btn-primary btn-block" value="ASD">
                        Login
                    </button>
                    </a>
                </div>
            </div>
        </div>   
    </div>

{% endblock %}
